$primary-color: rgba(24, 145, 139, 0.363);
$secondary-color: rgba(231, 221, 221, 0.479);
$tertiary-color: rgb(63, 56, 56);

$page-width: 70%;
$page-width-big: 70%;
$pic-width: 250px;

$primary-margin: 0 auto;
